
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

nav {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: blue;
}

li {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    font-family: Arial;
    font-size: 13px;
    margin-left: 8px;
}

.item {
    position: relative;
    color: white;
    border-left: 1px solid white;
}

.sub-menu {
    min-width: 140%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: deepskyblue;
    display: none;
    flex-direction: column;
    text-align: left;
    color: white;
}

.item:hover .sub-menu {
    display: flex;
    background-color: deepskyblue;
}
.item:hover{
    background-color: deepskyblue;
}