
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

nav {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: blue;
}

li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    font-family: Arial;
    margin-left: 8px;
}

img {
    width: 20px;
    margin: 0 20px;
    cursor: pointer;
}

.item {
    position: relative;
    color: white;
    border-left: 1px solid white;
}

.sub-menu {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: deepskyblue;
    display: none;
    flex-direction: column;
    color: white;
}

.item:hover .sub-menu {
    display: flex;
    background-color: deepskyblue;
}
.item:hover{
    background-color: deepskyblue;
}